@font-face {
    font-family: 'PlakatGrotesk-Bold';
    src: url('PlakatGrotesk-Bold.woff') format('woff');
}
@font-face {
    font-family: 'PlakatGrotesk-Regular';
    src: url('PlakatGrotesk-Regular.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
    padding-right: 24px;
  border-bottom: 2px solid black;
  font-size: 2rem;
  background: #f7f7f7;
  z-index: 1000;
}

.left {
  font-family: 'Cooper Black', serif;
}

.left .logo {
  height: 100px;
  width: auto;
}

.right {
  display: flex;
  align-items: center;
  font-family: 'PlakatGrotesk-Bold', sans-serif;
  gap: 8px;
}

.counter {
  display: inline-flex;
  gap: 4px;
  font-size: 1.2em;
}

.counter span {
  background: black;
  border-radius: 6px;
  color: white;
  padding-top: 8px;
    padding-bottom: 4px;
  font-family: 'PlakatGrotesk-Regular', sans-serif;
  min-width: 1.2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.2em;
  line-height: 1.2; 
}

.counter-text {
    padding-top: 6px;
    padding-left: 1px;
    font-family: 'PlakatGrotesk-Bold', serif;
    font-size: 1.2em;
  }
  
.logo-text {
  display: flex;
  align-items: center;
  gap: 14px;
  font-family: 'PlakatGrotesk-Bold', serif;
  font-size: 2em;
}

.date-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.separator {
  display: inline-block;
  width: 5px;
  height: 54px;
  margin-bottom: 4px;
  background: black;
}

main.grid {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  width: 100%;
}

.card-container {
  aspect-ratio: 2/3;
  overflow: hidden;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  cursor: pointer;
}

.card:hover .card-front {
  opacity: 0;
}

.card:hover .card-back {
  opacity: 1;
}

.card {
  position: relative;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.card-face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-front {
  z-index: 2;
  opacity: 1;
}

.card-back {
  z-index: 1;
  opacity: 0;
}

.footer {
  background: black;
  padding: 60px 20px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-family: 'PlakatGrotesk-Regular', sans-serif;
  font-size: 3em;
}

@media (max-width: 768px) {
  .header {
    padding-left: 10px;
    padding-right: 20px;
    height: 70px;
  }
  
  main.grid {
    margin-top: 70px;
    grid-template-columns: repeat(2, 1fr);
  }

  .right {
    gap: 4px;
  }

  .counter {
    display: inline-flex;
    gap: 2px;
    font-size: 0.6em;
  }
  
  .counter span {
    border-radius: 4px;
    min-width: 1em;
  }
  
  .counter-text {
    padding-top: 4px;
    padding-left: 0.5px;
    font-size: 0.6em;
    }

  .logo-text {
    gap: 4px;
  }

  .date-group {
    gap: 2px;
  }

  .separator {
      width: 3px;
      height: 24px;
      margin-bottom: 4px;
  }

    .footer {
        padding: 20px 10px;
      }
      
      .footer-links a {
        gap: 10px;
        font-size: 1.6em;
      }
}
